*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    padding: 20px;
    border-bottom: 2px solid brown;
    
}

nav{
    display: flex;
    justify-content: center;
    /* background-color: pink;    */
    width: 50vw;
}

ul {
    display: flex;
    /* background-color: aqua; */
    list-style: none;
}

a {
    text-decoration: none;
    color: brown;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid brown;
}
a:hover
{
    color: red;
    padding: 10px;
    border: 2px solid black;
}
li {
    margin: 0px 10px;
}

.logo {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: brown ; */
}

img{
    border-radius: 100%;
    /* margin-left: 40px; */
}

main {
    width: 100%;
    display: flex;
}

.section-container {
    width:100%;
    /* background-color: red; */
    padding: 20px;
}

.aside-container {
    /* background-color: aqua; */
    width:25%;
    padding: 10px;
}
aside{
    border: 3px solid brown;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}


footer{
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
    font-size: 1rem;
    font-family: monospace;

}

body {
    background-color: blanchedalmond;
}

hr {
    background-color: brown;
    padding: 0.5px;
    border: none;
}

@media screen and (max-width:768px) {
    main{
        flex-direction: column;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        display: flex;
        flex-direction: column;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    li{
        margin-top:30px;
    }
    .aside-container{
        width: 100%;
        display: flex;
        gap: 10px;
    }
}